.devcontainer/.env

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/tfplan
**/plan_output.txt
**/*.tfstate
**/*.tfstate.backup
**/.terraformrc
**/terraform.rc
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraform.tfstate.lock.info

# Crash logs
crash.log
crash.*.log
